
<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>
<body>

<%- include('../includes/navigation.ejs') %>

<% if (products.length > 0) { %> 
    <h1>Products</h1>
    <% for (let product of products ) { %>
    
        <div class="product-card">
            <h2 class="product-title" ><%= product.title %></h2>
            <img class="product-image" src=<%= product.imageUrl %> alt=<%= product.title %> >
            <h3>$<%= product.price %></h3>
            <p><%= product.description %></p>
            <a href="/admin/products/edit/<%= product.id %>">Edit</a>
            <form action="/admin/products/delete/<%= product.id %>" method="POST">
                <button type="submit">Delete</button>
            </form>
            
        </div>

    <% } %>
<% } else { %>
    <h1>No Products Found</h1>
<% } %>

<%- include('../includes/end.ejs') %>